@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primaryOrange: hsl(25, 97%, 53%);
    --cardBG: hsl(213, 28%, 15%);
    --mainBG: hsl(216, 12%, 8%);
    
    /* neutral  */
    --darkBlue: hsl(213, 19%, 18%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 0.9375rem;
}
body {
    font-family: 'Overpass', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.main-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--mainBG);
}
.rating-card,
.thank-you {
    display: grid;
    grid-template-columns: auto;
    max-width: 20.25rem;
    border-radius: 1rem;
    background-color: var(--cardBG);
    padding: 25px 25px 25px 22px;
}

.thank-you.hidden {
    display: none;
}

/* ------------------------------------------------------ */

.icon-container #icon-star {
    padding: 0.8rem;
    border-radius: 50%;
    background-color: var(--darkBlue);
}
.thank-you #thank-you-image {
    display: block;
    justify-self: center;
}

/* ------------------------------------------------------ */

.rating-card h1,
.thank-you h2 {
    color: var(--white);
    font-size: 1.47rem;
    font-weight: 700;
    margin: 15px 0 15px 0;
}

.thank-you h2 {
    text-align: center;
}

.thank-you p#rating {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin: 18px 0 15px 0;
    padding: 8px 10px 8px 10px;
    border-radius: 35px;
    color: var(--primaryOrange);
    background-color: var(--darkBlue);
}

.rating-card p,
.thank-you p#description {
    color: var(--lightGrey);
    font-weight: 400;
    line-height: 20px;
    font-size: 0.85rem;
}

.thank-you p#description {
    text-align: center;
}

/* ------------------------------------------------------ */

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 25px;
}
ul,
li,
input {
    font-family: inherit;
    font-size: 1rem;
}
.rating-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding-top: 0.3rem;
    cursor: pointer;
}
.rating-button:hover {
    background-color: var(--mediumGrey);
    color: var(--white);
    text-decoration: solid;
}
.rating-button:focus {
    background-color: var(--primaryOrange);
    color: var(--white);
}


/* ------------------------------------------------------ */

.submit-button {
    display: flex;
    padding: 0.9244rem;
    width: 100%;
    justify-content: center;
    border-radius: 35px;
    border: none;
    font-weight: 400;
    color: var(--white);
    background-color: var(--primaryOrange);
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    cursor: pointer;
}
.submit-button:hover {
    background-color: var(--white);
    color: var(--primaryOrange);
}

/* ------------------------------------------------------ */


@media (min-width: 650px) {
    .rating-card {
        max-width: 25.60rem;
    }
    .rating-card h1 {
        margin-top: 20px;
        font-size: 1.8rem;
    }
    .thank-you h2 {
        font-size: 1.8rem;
    }
    .rating-card p {
        font-size: 1.2rem;
        line-height: 26px;
    }
    ul {
        margin: 25px 0 25px 0;
    }
    .rating-button {
        width: 3.5rem;
        height: 3.5rem;
    }
}