@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primaryOrange: hsl(25, 97%, 53%);
    --cardBG: hsl(213, 28%, 15%);
    --mainBG: hsl(216, 12%, 8%);
    
    /* neutral  */
    --darkBlue: hsl(213, 19%, 18%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 0.9375rem;
}
body {
    font-family: 'Overpass', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
.main-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--mainBG);
}
.card {
    display: grid;
    grid-template-columns: auto;
    max-width: 20.25rem;
    border-radius: 1rem;
    background-color: var(--cardBG);
    padding: 25px 25px 25px 22px;
}

/* ------------------------------------------------------ */

.icon-container {
    display: flex;
    width: 41px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background-color: var(--darkBlue);
    border-radius: 50%;
}

/* ------------------------------------------------------ */

.description {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.description h1 {
    color: var(--white);
    font-size: 1.47rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.description p {
    color: var(--lightGrey);
    font-weight: 400;
    line-height: 20px;
}

/* ------------------------------------------------------ */

.rating {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 25px;
}
.rating-button {
    background-color: var(--darkBlue);
    color: var(--lightGrey);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* ------------------------------------------------------ */

.submit-button {
    display: flex;
    padding: 0.9244rem;
    width: 100%;
    justify-content: center;
    border-radius: 35px;
    border: none;
    font-weight: 400;
    color: var(--white);
    background-color: var(--primaryOrange);
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

@media (min-width: 650px) {
    .card {
        max-width: 25.60rem;
    }
    .icon-container {
        width: 45px;
        height: 46px;
    }
    .description {
        margin-top: 20px;
    }
    .description h1 {
        font-size: 1.8rem;
    }
    .description p {
        font-size: 1.2rem;
        line-height: 26px;
    }
    .rating {
        margin: 25px 0 25px 0;
    }
    .rating-button {
        width: 55px;
        height: 55px;
    }
}